body {
    font-weight: bolder;
  background-image: url(https://th.bing.com/th/id/OIP.STQPWx3HCRZl8ov7GxNwRAHaEc?w=279&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
}

#camara, #resultado {
    margin: 0 auto;
    width: 360px;
    height: 250px;
    border: 1px dotted grey;
    background-size: 360px 250px;
}

#camara{
    background-image: url(selfie.jpg);
    
}
#resultado{
    background-image: url(resultado.jpg);
}

#logo_img {
    width: 150px;
    border-radius: 50%;
}

#textbox {
    width: 300px;
}